$base-color: #0b2343;
$aero-color: #302866;
$secondary-color: #007cc2;
$letter-color: #fff;
$font-main: "NeueHaasUnicaPro";

.Header--main {
  align-items: center;
  background-color: $base-color;
  width: 100%;
  display: flex;
}
