$base-color: #0b2343;
$secondary-color: #007cc2;
$letter-color: #fff;
$border-color: #adadad;

.Home--main {
  background-color: $secondary-color;
  min-height: calc(100vh - 56px);
  & h2 {
    color: $letter-color;
    margin: 0;
    font-size: 42px;
  }
  &-cover {
    padding: 55px;
  }
  &_formGroup {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
  &-input {
    height: 60px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    outline: none;
    font-size: 18px;
  }
  &-search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-left: 1px solid #ddd;
  }
  // &-labels {
  //   display: inline-block;
  // }
  button {
    background-color: $base-color;
    font-family: NeueHaasUnicaPro-Medium, sans-serif;
    border-radius: 40px;
    color: $letter-color;
    font-size: 14px;
    line-height: 1;
    min-height: 61px;
    height: 64px;
    padding: 22px 40px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #007cc2;
  }
  &-disabled {
    opacity: 0.3 !important;
    background-color: rgba(0, 0, 0, 0.001);
    border-color: hsla(0, 0%, 100%, 0.5);
  }
}
