@font-face {
  font-family: "NeueHaasUnicaPro";
  font-style: normal;
  font-weight: 400;
  src: url("../src/resources/fonts/NeueHaasUnicaPro.woff"); /* IE9 Compat Modes */
  src: local("NeueHaasUnicaPro"),
    url("../src/resources/fonts/NeueHaasUnicaPro.woff") format("woff"); /* Modern Browsers */
}

@font-face {
  font-family: "NeueHaasUnicaProBold";
  font-style: normal;
  font-weight: 400;
  src: url("../src/resources/fonts/NeueHaasUnicaProRegular.woff"); /* IE9 Compat Modes */
  src: local("NeueHaasUnicaPro"),
    url("../src/resources/fonts/NeueHaasUnicaProRegular.woff") format("woff"); /* Modern Browsers */
}

/* Icommon Fonts */
@font-face {
  font-family: "icomoon";
  src: url("../src/resources/fonts/icomoon.eot?hsnv2c");
  src: url("../src/resources/fonts/icomoon.eot?hsnv2c#iefix")
      format("embedded-opentype"),
    url("../src/resources/fonts/icomoon.ttf?hsnv2c") format("truetype"),
    url("../src/resources/fonts/icomoon.woff?hsnv2c") format("woff"),
    url("../src/resources/fonts/icomoon.svg?hsnv2c#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelop:before {
  content: "\e945";
  color: white;
  font-size: 25px;
}
.icon-menu:before {
  content: "\e9bd";
  color: white;
  font-size: 25px;
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}

body {
  margin: 0;
  font-family: "NeueHaasUnicaPro";
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

label {
  display: block;
  margin-bottom: 6px;
}

.nameSpan {
  display: block;
}

.show {
  opacity: 1 !important;
}

.height-page {
  min-height: 0 !important;
}

@media screen and (max-width: 1226px) {
  .Header--images-logoResponsive,
  .Header--menu-tablet {
    display: block;
  }

  .Header--images-logo,
  .Header--images-logoPic,
  .Header--menu_secondary-travel,
  .Header--reservation {
    display: none;
  }

  .Home--main_formGroup {
    display: block;
  }

  .Header--menu_secondary-profile,
  .Header--menu_secondary {
    display: flex;
  }

  .Header--menu_secondary {
    flex: auto;
    justify-content: flex-end;
  }

  .Header--menu-tablet {
    margin: 0 15px 0 15px;
  }

  .Header--menu_secondary-imgLanguage {
    margin: 0 20px 0 20px;
  }

  .Home--main-status {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }

  .Home--main-radio {
    padding: 25px 0 25px 0;
  }

  .Home--main-disabled {
    margin-bottom: -30px;
  }

  .Header--menu-flag {
    display: none;
  }

  .Home--main-search {
    border-left: none;
  }

  .Home--main-search {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .Header--reservation {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .Header--images-logo,
  .Header--images-logoPic,
  .Header--menu_main,
  .Header--menu_secondary-profile {
    display: none;
  }

  .Home--main_title {
    text-align: center;
    color: white;
    padding: 5px 0 5px 0;
  }

  .Header--reservation {
    display: block;
    margin-left: 10px;
  }

  .Header--menu-tablet {
    display: flex;
  }

  .Header--reservation h4 {
    color: white;
    font-family: "NeueHaasUnicaPro";
  }

  .Header--reservation-text {
    color: white;
  }

  .Home--main-cover {
    padding: 0 20px 30px;
  }

  .Home--main-status {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 10px;
  }

  .Home--main-origin {
    display: flex;
    flex-direction: column;
  }

  .Home--main-destination {
    display: flex;
    flex-direction: column;
  }

  .Home--main-labels {
    display: inherit;
    padding: 10px;
  }

  .Home--main-disabled {
    display: block;
  }

  .Home--main-input {
    width: 100%;
  }

  .Header--menu-hamburguer {
    margin-left: 20px;
  }

  .Home--main-disabled {
    margin-top: 15px;
    margin-bottom: 5px;
    width: 100%;
  }

  .Home--main-search {
    display: block;
  }
}
